.venv
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.pyc
.idea
.git
.gitignore

secrets.local.env
*.local.env
data/external
data/k_fnspid
data/market
data/processed
data/raw
src/hannah_montana_ai/model_store/.*-checkpoints
